- urlPrefix = "/"

mixin buttonLeft(buttonTitle)
    if buttonTitle.length <= 7
        - var length = "short"
    else if buttonTitle.length <= 9
        - var length = "medium"
    else if buttonTitle.length <= 11
        - var length = "long"
    else
        - var length = "super-long"
    if buttonTitle == "Home"
        - var href = urlPrefix
    else
        - var href = urlPrefix + buttonTitle.replace(/ /g,'_')
    a.button.prev.flex.justify-content-end(class=length
        href=href)
        span.circle(aria-hidden=true)
            span.icon.arrow
        span.button-text= buttonTitle

mixin buttonRight(buttonTitle)
    if buttonTitle.length <= 7
        - var length = "short"
    else if buttonTitle.length <= 11
        - var length = "long"
    else
        - var length = "super-long"
    a.button.next(class=length
        href=urlPrefix + buttonTitle.replace(/ /g,'_'))
        span.circle(aria-hidden=true)
            span.icon.arrow
        span.button-text= buttonTitle

mixin image(n, url, caption, width, fontSize)
    .image
        if width && !fontSize
            img(src=url alt=caption style="width: " + width + "%")
            p= "Figure " + n + ": " + caption
        else if fontSize && width
            img(src=url alt=caption style="width: " + width + "%")
            p(style="font-size:" + fontSize + "rem; text-align:justify" )!= "<b>Figure " + n + "</b>: " + caption
        else
            img(src=url alt=caption)
            p= "Figure " + n + ": " + caption

mixin video(url, caption)
    video(style="width: 100%;" controls)
        source(src=url type="video/mp4")
        span Your browser does not support the video tag. :(


mixin imgCitation(name, number)
    p.text-center
        a(href="#citation" + number)= name

mixin citation_article(citation, count)
    // year_published is present in the authors field
    - scholar = "https://scholar.google.com/scholar?q=" + citation.title
    li(id= 'citation' + counter)
        p.author= citation.authors
        cite= citation.title
        p
            span.journalTitle= citation.journal
            | 
            span.journalInfo= citation.numbers
        if citation.doi
            a.in-text(href=citation.doi target="_blank" rel="noopener") CrossRef
        a.in-text(href=scholar target="_blank" rel="noopener") Google Scholar
        a.in-text(href="#intext" + count) Back to text

mixin citation_webpage(citation, count)
    li(id= 'citation' + count)
        // date of publication comes with authors/details 
        // depending on presence of authors
        // as per APA specifications
        p.author= citation.authors
        cite= citation.title
        p
            span.details= citation.details
            a.in-text(href=citation.url target="_blank" rel="noopener")= citation.url.substr(0,30) + "..."
        a.in-text(href="#intext" + count) Back to text

mixin citation_book(citation, count)
    li(id= 'citation' + counter)
        p.author= citation.authors + " " + citation.year_published
        cite= citation.title
        p
            span.details= citation.publisher
        if citation.Google_Books_URL && citation.Google_Books_URL != ""
            a.in-text(href=citation.Google_Books_URL target="_blank" rel="noopener") Google Books
        a.in-text(href="#intext" + counter) Back to text    

- // # TODO: #6 Fix table caption font

- // # TODO: #7 Fix citations links font size

mixin meme(filename, caption, width)
    - var memepath = "" + require("../assets/img/memes/" + filename)["default"]
    .meme.d-flex.justify-content-center.align-items-center
        if width
            img(src=memepath alt=caption style="width: " + width + "%")
        else
            img(src=memepath alt=caption)

mixin teamlabel(type)
    .teamlabel
        case type 
            when "HP"
                span Human Practices
            when "IT"
                span IT & Wiki
            when "design"
                span Design
            when "fundraising"
                span Fundraising
            when "hardware"
                span Hardware
            when "lab"
                span Lab
            when "modeling"
                span Modeling
            when "organization"
                span Organization
            when "social"
                span Social Media
            when "storytelling"
                span Storytelling

mixin imgCarousel(id, items)
    .carousel.slide.igem-carousel(id="carousel-"+id, data-ride="carousel")
        .carousel-inner
            each item, index in items
                if(index === 0)
                    .carousel-item.active
                        img(src=item.image).d-block.w-100
                else
                    .carousel-item
                        img(src=item.image).d-block.w-100
        a.carousel-control-prev(href="#carousel-" + id, role="button", data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only= Next
        a.carousel-control-next(href="#carousel-" + id, role="button", data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only= Next
