include ../templates/mixins
include ../templates/member_list
include ../templates/attributor_list
include ../templates/nav_list

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Attributions | iGEM Aachen
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .container
        h1 Attributions
        // img(src=require('../assets/img/Team.jpg')['default'])
        // p.text-center Photo by Naassom Azevedo on Unsplash


    attr-main
        .container.category
            h1.title= "Mentors"
            .row.d-flex.justify-content-center
                each category in attributors
                    if category.category == "Mentors"
                        each mentor, index in category.persons
                            if index%2 == 0
                                .col-xl-6.col-lg-6.col-md-6.col-xs-12
                                    .mentor
                                        .mentor-top.img-left
                                            img(src=require('../assets/img/mentors/'+mentor.name+'.jpg')['default'])
                                            .mentor-description
                                                h4= mentor.name
                                                h5= mentor.institution
                                        .card-body
                                            h5.card-subtitle= mentor.attribution
                            else
                                .col-xl-6.col-lg-6.col-md-6.col-xs-12
                                    .mentor
                                        .mentor-top.img-right
                                            .mentor-description
                                                h4= mentor.name
                                                h5= mentor.institution
                                            img(src=require('../assets/img/mentors/'+mentor.name+'.jpg')['default'])
                                        .card-body
                                            h5.card-subtitle= mentor.attribution

        .container.category
            h1.title= "Team Members"
            .row.d-flex.justify-content-center
                each member, index in team_members
                    if index%2 == 0
                        .col-xl-7.col-lg-7.col-md-7.col-xs-12
                            .card
                                .card-img-top.img-left
                                    img(src=require('../assets/img/portraits/'+member.name+" "+member.surname+'.jpg')['default'])
                                    if member.categories.length == 1
                                        .icon.icon23
                                            img(src=require('../assets/icons/attributions/'+member.categories[0]+'.jpg')['default'])
                                    if member.categories.length == 2
                                        .icon.icon12
                                            img(src=require('../assets/icons/attributions/'+member.categories[0]+'.jpg')['default'])
                                        .icon.icon22
                                            img(src=require('../assets/icons/attributions/'+member.categories[1]+'.jpg')['default'])
                                    if member.categories.length == 3
                                        .icon.icon13
                                            img(src=require('../assets/icons/attributions/'+member.categories[0]+'.jpg')['default'])
                                        .icon.icon23
                                            img(src=require('../assets/icons/attributions/'+member.categories[1]+'.jpg')['default'])
                                        .icon.icon33
                                            img(src=require('../assets/icons/attributions/'+member.categories[2]+'.jpg')['default'])
                                    h4.title= member.name + " " + member.surname
                                .card-body
                                    h5.card-subtitle= member.motivation
                        .col-xl-5.col-lg-5.col-md-5.col-xs-12
                    else
                        .col-xl-5.col-lg-5.col-md-5.col-xs-12
                        .col-xl-7.col-lg-7.col-md-7.col-xs-12
                            .card
                                .card-img-top.img-right
                                    h4.title= member.name + " " + member.surname
                                    if member.categories.length == 1
                                        .icon.icon23
                                            img(src=require('../assets/icons/attributions/'+member.categories[0]+'.jpg')['default'])
                                    if member.categories.length == 2
                                        .icon.icon12
                                            img(src=require('../assets/icons/attributions/'+member.categories[0]+'.jpg')['default'])
                                        .icon.icon22
                                            img(src=require('../assets/icons/attributions/'+member.categories[1]+'.jpg')['default'])
                                    if member.categories.length == 3
                                        .icon.icon13
                                            img(src=require('../assets/icons/attributions/'+member.categories[0]+'.jpg')['default'])
                                        .icon.icon23
                                            img(src=require('../assets/icons/attributions/'+member.categories[1]+'.jpg')['default'])
                                        .icon.icon33
                                            img(src=require('../assets/icons/attributions/'+member.categories[2]+'.jpg')['default'])
                                    img(src=require('../assets/img/portraits/'+member.name+" "+member.surname+'.jpg')['default'])
                                .card-body
                                    h5.card-subtitle= member.motivation
        .container.category
            each category in attributors
                if category.category != "Mentors"
                    h1.title= category.category
                    .row.d-flex.justify-content-center

                    each person in category.persons
                        .attributor
                            .person
                                h4.title= person.name
                                h5.title= person.institution
                            .attribution
                                p= person.attribution

    include ../templates/footer.pug
