extends ../templates/contents.pug

block headVars
    - var title = "Protocols"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article

    <details>
    <summary>Buffers and Solutions</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/00_01_10_percent-APS-recipe.pdf")["default"]) APS Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_02_10x-TBE-buffer-recipe.pdf")["default"]) TBE Buffer Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_03_1x-TAE-buffer-recipe.pdf")["default"]) TAE Buffer Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_04_10x-PBS-buffer-recipe.pdf")["default"]) PBS Buffer Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_05_dNTP-Mix-recipe.pdf")["default"]) dNTP Mix Recipe <br>
    </details>

    <details>
    <summary>Agarose Gel Electrophoresis</summary>
    <br>

    </details>

    <details>
    <summary>PAA Gel Electrophoresis</summary>
    <br>
    </details>

    <details>
    <summary>TdT Tailing Reaction</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/03_01_NEB-protocol-for-TdT-tailing-reaction.pdf")["default"]) NEB Protocol for TdT tailing reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_01_Thermofisher-protocol-for-TdT-tailing-reaction.pdf")["default"]) ThermoFisher Protocol for Tdt tailing reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_02_Heat-inactivation-of-TdT-reaction.pdf")["default"]) Heat Inactivation of TdT reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_03_EDTA-inactivation-of-TdT-reaction.pdf")["default"]) EDTA Inactivation of TdT reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_04_Phusion-PCR-reaction.pdf")["default"]) Phusion PCR Reaction <br>
    </details>

    <details>
    <summary>Devices</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/04_01_Spectralphotometer-Nanodrop.pdf")["default"]) Spectralphotometer Nanodrop <br>
        a.pdflink(href=require("../assets/documents/protocols/04_02_Autoclaving.pdf")["default"]) Autoclaving <br>
        a.pdflink(href=require("../assets/documents/protocols/04_03_PeakScanner_capillar-electrophoresis.pdf")["default"]) PeakScanner Capillar Electrophoresis <br>
        a.pdflink(href=require("../assets/documents/protocols/04_04_Nanopore-sequencing-with-MinION.pdf")["default"]) Nanopore Sequencing with MinION <br>
        a.pdflink(href=require("../assets/documents/protocols/04_05_QubitFluorometer.pdf")["default"]) Qubit Fluorometer <br>
        a.pdflink(href=require("../assets/documents/protocols/04_06_Washing-of-the-Flow-Cell.pdf")["default"]) Washing of the Flow Cell <br>
        a.pdflink(href=require("../assets/documents/protocols/04_07_Documentation-with-BioRad-Photographer.pdf")["default"]) Documentation with BioRad Photographer <br>
    </details>

    <details>
    <summary>Cloning</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/05_01_Preparation-of-S.O.C.-medium.pdf")["default"]) Preparation of S.O.C. medium <br>
        a.pdflink(href=require("../assets/documents/protocols/05_02_Digest-a-vector.pdf")["default"]) Digest a Vector <br>
        a.pdflink(href=require("../assets/documents/protocols/05_03_Seamless-cloning-reaction.pdf")["default"]) Seamless Cloning Reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/05_04_pGEM-T-Easy-Vector-System.pdf")["default"]) pGEM T Easy Vector System <br>
        a.pdflink(href=require("../assets/documents/protocols/05_05_Colony-PCR.pdf")["default"]) Colony PCR <br>
    </details>

    <details>
    <summary>Cultivation</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/06_01_Preparation-of-an-ampicillin-stock.pdf")["default"]) Preparation of an ampicillin stock <br>
        a.pdflink(href=require("../assets/documents/protocols/06_01_Preparation-of-LB-medium.pdf")["default"]) Preparation of LB medium <br>
        a.pdflink(href=require("../assets/documents/protocols/06_02_Sterile-filter-a-solution.pdf")["default"]) Sterile filter a solution <br>
        a.pdflink(href=require("../assets/documents/protocols/06_03_Casting-agar-plates.pdf")["default"]) Casting agar plates <br>
    </details>

    <details>
    <summary>Immobilization</summary>
    <br>
    </details>
