extends ../templates/contents.pug

block headVars
    - var title = "Protocols"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)
        # Overview
        To ensure that the experiments could be carried out efficiently and safely and reproduced accordingly, we introduced the following standard operation procedures (SOPs).
        This was necessary since we were working with 13 people in the laboratory.
        These SOPs contain detailed information on the chemicals and devices needed, bullet point manuals, and information on risk factors and proper disposal.
        At the beginning, there was a lot of questioning about how to perform the experiments.
        We were able to reduce this through the SOPs, as the standardization helped to enable each member of our laboratory team to work independently, reproducibly and - most importantly - safely.
         
    <details>
    <summary>Buffers and Solutions</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/00_01_10_percent-APS-recipe.pdf")["default"]) APS Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_02_10x-TBE-buffer-recipe.pdf")["default"]) TBE Buffer Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_03_1x-TAE-buffer-recipe.pdf")["default"]) TAE Buffer Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_04_10x-PBS-buffer-recipe.pdf")["default"]) PBS Buffer Recipe <br>
        a.pdflink(href=require("../assets/documents/protocols/00_05_dNTP-Mix-recipe.pdf")["default"]) dNTP Mix Recipe <br>
    </details>

    <details>
    <summary>Agarose Gel Electrophoresis</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/01_01_Agarose-gel-preparation.pdf")["default"]) Agarose Gel Preparation <br>
        a.pdflink(href=require("../assets/documents/protocols/01_02_Sample-preparation-for-gel-electrophoresis.pdf")["default"]) Sample Preparation for Gel Electrophoresis <br>
        a.pdflink(href=require("../assets/documents/protocols/01_03_Performing-agarose-gel-electrophoresis.pdf")["default"]) Performing Agarose Gel Electrophoresis <br>
    </details>

    <details>
    <summary>PAA Gel Electrophoresis</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/02_01_PAA-gel-preparation (native).pdf")["default"]) PAA Gel Preparation (Native) <br>
        a.pdflink(href=require("../assets/documents/protocols/02_01_PAA-gel-preparation (denaturating).pdf")["default"]) PAA Gel Preparation (Denaturating) <br>
        a.pdflink(href=require("../assets/documents/protocols/02_02_Performing-PAA-gel-electrophoresis.pdf")["default"]) Performing PAA Gel Electrophoresis <br>
        a.pdflink(href=require("../assets/documents/protocols/02_03_Silver-staining-DNA-in-PAA-gels.pdf")["default"]) Silver Staining DNA in PAA Gels <br>
        a.pdflink(href=require("../assets/documents/protocols/02_04_SYBR-Gold-staining.pdf")["default"]) SYBR Gold Staining <br>
    </details>

    <details>
    <summary>TdT Tailing Reaction</summary>
    p After initial testing with the TdT, a standard TdT reaction was established from which reactions could be varied to characterize the TdT even further. It was also documented that the TdT can be inactivated with heat and EDTA.
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/03_01_NEB-protocol-for-TdT-tailing-reaction.pdf")["default"]) NEB Protocol for TdT Tailing Reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_01_Thermofisher-protocol-for-TdT-tailing-reaction.pdf")["default"]) ThermoFisher Protocol for Tdt Tailing Reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_02_Heat-inactivation-of-TdT-reaction.pdf")["default"]) Heat Inactivation of TdT Reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_03_EDTA-inactivation-of-TdT-reaction.pdf")["default"]) EDTA Inactivation of TdT Reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/03_04_PCR-for-ssDNA-samples.pdf")["default"]) PCR for ssDNA Samples <br>
    </details>

    <details>
    <summary>Devices</summary>
    p The use of some devices in the laboratory was not trivial. Thus, we wrote protocols to enable simple and safe operation of the devices without having to ask a laboratory supervisor.
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/04_01_Spectralphotometer-NanoDrop3.pdf")["default"]) Spectralphotometer NanoDrop <br>
        a.pdflink(href=require("../assets/documents/protocols/04_02_Autoclaving.pdf")["default"]) Autoclaving <br>
        a.pdflink(href=require("../assets/documents/protocols/04_03_PeakScanner_capillar-electrophoresis.pdf")["default"]) PeakScanner Capillar Electrophoresis <br>
        a.pdflink(href=require("../assets/documents/protocols/04_04_Nanopore-sequencing-with-MinION2.pdf")["default"]) Nanopore Sequencing with MinION <br>
        a.pdflink(href=require("../assets/documents/protocols/04_05_QubitFluorometer.pdf")["default"]) Qubit Fluorometer <br>
        a.pdflink(href=require("../assets/documents/protocols/04_06_Washing-of-the-Flow-Cell.pdf")["default"]) Washing of the Flow Cell <br>
        a.pdflink(href=require("../assets/documents/protocols/04_07_Documentation-with-BioRad-Photographer.pdf")["default"]) Documentation with BioRad Photographer <br>
    </details>

    <details>
    <summary>Cloning</summary>
    p Preparation for Sanger sequencing included digestion of a vector, cloning of a vector, and a colony polymerase chain reaction. The protocols serve to ensure that everyone in the laboratory team was able to perform these preparations.
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/05_01_Preparation-of-S.O.C.-medium.pdf")["default"]) Preparation of S.O.C. Medium <br>
        a.pdflink(href=require("../assets/documents/protocols/05_02_Digest-a-vector2.pdf")["default"]) Digest a Vector <br>
        a.pdflink(href=require("../assets/documents/protocols/05_03_Seamless-cloning-reaction2.pdf")["default"]) Seamless Cloning Reaction <br>
        a.pdflink(href=require("../assets/documents/protocols/05_04_pGEM-T-Easy-Vector-System2.pdf")["default"]) pGEM T Easy Vector System <br>
        a.pdflink(href=require("../assets/documents/protocols/05_05_Colony-PCR2.pdf")["default"]) Colony PCR <br>
    </details>

    <details>
    <summary>Cultivation</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/06_01_Preparation-of-an-ampicillin-stock.pdf")["default"]) Preparation of an Ampicillin Stock <br>
        a.pdflink(href=require("../assets/documents/protocols/06_01_Preparation-of-LB-medium.pdf")["default"]) Preparation of LB Medium <br>
        a.pdflink(href=require("../assets/documents/protocols/06_02_Sterile-filter-a-solution.pdf")["default"]) Sterile Filter a Solution <br>
        a.pdflink(href=require("../assets/documents/protocols/06_03_Casting-agar-plates.pdf")["default"]) Casting Agar Plates <br>
    </details>

    <details>
    <summary>Immobilization</summary>
    <br>
    .links
        a.pdflink(href=require("../assets/documents/protocols/07_01_Biotin-streptavidin-immobilization.pdf")["default"]) Biotin-Streptavidin Immobilization <br>
        a.pdflink(href=require("../assets/documents/protocols/07_02_Cyclic-synthesis.pdf")["default"]) Cyclic Synthesis <br>
    </details>
