extends ../templates/contents.pug

block header 
  img(src=require('../assets/img/headers/team.jpg')['default']).header-image
  img(src=require('../assets/img/headers/header_texts/team.svg')['default']).header-text


block main
  include ../templates/member_list
  include ../templates/attributor_list
  include ../templates/nav_list

  .container
    .row.d-flex.justify-content-center.tiles
      each member in team_members
        .col-xl-4.col-lg-4.col-md-6.col-xs-12
          .card
            .card-img-top
              a.tile
                img(src=require('../assets/img/members/'+member.name+" "+member.surname+'.jpg')['default'])
                .details
                  // span.title Lorem Ipsum Dolor
                  span.info= member.motivation
            .card-body
              h4.card-title= member.name+" "+member.surname+", "+member.age
              h5.card-subtitle= member.course
