include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Storagene | iGEM Aachen 2021
  body#scrollable
    include templates/nav.pug
    
    .custom
      .jumbotron.home-card
        .container
          .header
            - var videopath = require("./assets/img/homepage/projectlogo.mp4")["default"]
            .video
                video(style="width: 80%;" autoplay muted playsinline)
                    source(src=videopath type="video/mp4")
                    span Your browser does not support the video tag. :(
            h2 Using DNA for Digital Long-Term Data Storage
      .jumbotron.home-card.home-bg-light
        .container
          .row.d-flex.justify-content-center.tiles
            .col-xl-4.col-lg-4.col-md-6.col-xs-12.align-self-center.einruecken
              h2 Humanity Produces Enormous Amounts of Data
              p Soon, it could become too much for todays storage systems.
            .col-xl-6.col-lg-6.col-md-6.col-xs-12.align-self-center
              div
                include ./assets/img/homepage/server_animated.svg
              // img(src=require("./assets/img/homepage/server.svg")["default"])
      .jumbotron.home-card
        .container
          .row.d-flex.justify-content-center.tiles
            .col-xl-6.col-lg-6.col-md-6.col-xs-12.align-self-center.einruecken
              .line
                pre.fade.fade1 0
                pre.fade.fade2    1
                pre.fade.fade1  1
                pre.fade.fade4   0
                pre.fade.fade1     1
                pre.fade.fade3  0
                pre.fade.fade2    0
                pre.fade.fade4   0
                pre.fade.fade4  1
                pre.fade.fade2   1
                pre.fade.fade1    0
                pre.fade.fade2  0
              .line
                pre.fade.fade2  1
                pre.fade.fade3  1
                pre.fade.fade4   0
                pre.fade.fade4  1
                pre.fade.fade2   1
                pre.fade.fade2    0
                pre.fade.fade4     1
                pre.fade.fade2   1
                pre.fade.fade3     0
                pre.fade.fade1 0
                pre.fade.fade1  1
              .line
                pre.fade.fade2     0
                pre.fade.fade1  1
                pre.fade.fade1     0
                pre.fade.fade3   1
                pre.fade.fade2  1
                pre.fade.fade4  1
                pre.fade.fade3   0
                pre.fade.fade1     1
                pre.fade.fade4    0
                pre.fade.fade3  1
              .line
                pre.fade.fade2        1
                pre.fade.fade2   0
                pre.fade.fade3    1
                pre.fade.fade1  1
                pre.fade.fade1   1
                pre.fade.fade3  0
                pre.fade.fade4     1
                pre.fade.fade2   0
                pre.fade.fade4  0
              .line
                pre.fade.fade4        0
                pre.fade.fade3   0
                pre.fade.fade1  0
                pre.fade.fade2   1
                pre.fade.fade4   1
                pre.fade.fade2     0
                pre.fade.fade4    1
                pre.fade.fade1  1
              .line
                pre.fade.fade3          1
                pre.fade.fade1  1
                pre.fade.fade2   0
                pre.fade.fade4   1
                pre.fade.fade3   0
                pre.fade.fade2  1
                pre.fade.fade2    1
            .col-xl-5.col-lg-5.col-md-12.col-xs-12.align-self-center
              h2 Are We About to Face a Digital Dark Age?
              p Loss of data poses a serious risk to infrastructure and safety. Whenever new storage technologies emerge, there is a risk that old media will eventually become unreadable.
      .jumbotron.home-card.home-bg-blue
        .container
          .row.d-flex.justify-content-center.tiles
              .col-xl-4.col-lg-4.col-md-6.col-xs-12.align-self-center
                h2.fandy The Solution:
                h2#fandyness Storing Data on DNA
                p With the unique properties of DNA and rapidly advancing technologies, we think that DNA data storage will replace existing solutions.
              .col-xl-8.col-lg-8.col-md-6.col-xs-12.align-self-center
                img(src=require("./assets/img/homepage/DNA_text.svg")["default"])
      .jumbotron.home-card.home-bg-light
        .container
          .row.d-flex.justify-content-center.tiles
            .col-xl-3.col-lg-3.col-md-6.col-xs-12.align-self-center
              a(href="https://2021.igem.org/Team:Aachen/Memes")
                div
                  include ./assets/img/homepage/bucket_animated.svg
                  //- img(src=require('./assets/img/homepage/bucket.svg')['default'])
            .col-xl-1.col-lg-1
            .col-xl-6.col-lg-6.col-md-6.col-xs-12.align-self-center
              h2 Extremely High Storage Capacity
              p 
                | The information density of DNA is 
                span.highlight 20000 times 
                | higher than the capacity of current storage technologies.
                | With that, you could fit the information of the whole internet into an ordinary bucket.
                | This could make many data centers obsolete.
      .jumbotron.home-card.home-bg-blue
        .container
          h1 What Could we Achieve with Better Storage Systems?
          .row.d-flex.justify-content-center.tiles
            .col-xl-4.col-lg-4.col-md-6.col-xs-12.align-self-center
              h2 Bring Artificial Intelligence to the Next Level
              p 
                | Training neural networks requires huge amounts of data.
                | With a larger storage capacity, the development of better systems can be accelerated.
            .col-xl-2.col-lg-2
            .col-xl-6.col-lg-6.col-md-6.col-xs-12.align-self-center
              div
                include ./assets/img/homepage/artificial_intelligence.svg
      .jumbotron.home-card.rocket-card
        .container
          .row.d-flex.justify-content-center#rocket-container
            .col-xl-8.col-lg-8.col-md-6.col-xs-12.align-self-center.rocket-container
              img(src=require("./assets/img/homepage/dna_rocket.svg")["default"])#rocket
            .col-xl-4.col-lg-4.col-md-6.col-xs-12.rocket-text
              h2 Efficient Data Transport for Colonization of Planets
              p If humanity one day becomes an interplanetary species, it will be necessary to bring lots of information to space. Since weight is always a huge concern in space, DNA would be an ideal choice as a storage medium for this.
      .jumbotron.home-card.below-rocket-card
        .container
          h1 We Present Enzymatic DNA Synthesis for a Data Storage System
          .row.d-flex.justify-content-center.tiles
            .col-xl-12.col-lg-12.col-md-12.col-xs-12.align-self-center
              - var videopath = require("./assets/img/homepage/promovideo.mp4")["default"]
              +video(videopath, "", 80)

    include templates/footer.pug
